@import 'Colours.css';

div:has(>.submit-button) {
    width: 443px;
}

.submit-button {
    all: unset;
    margin-left: auto;
    background: var(--button-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    color: black;
    font-size: 1.3rem;
    transform: translateZ(-35px);
    user-select: none;
    cursor: pointer;
    transition: scale 0.02s ease-out;
}

.submit-button:disabled {
    opacity: 0.7;
    cursor: unset;
}

.submit-button:hover:not(:disabled) {
    scale: 1.05;
    background: var(--button-background-hover);
}

.submit-button:focus {
    outline: 2px solid var(--word-tile-untested-unchecked);
    outline-offset: -2px;
}

.submit-button:active:not(:disabled)  {
    scale: 0.95;
    background: var(--button-background-active);   
}