@import './Colours.css';

:root {
    --gap-size: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset {
    all: unset;
    margin: auto;
    width: 100%;
    max-width: calc(3*150px + 2*var(--gap-size));
    margin: 25px 0;
}

.word-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-size) 0;
    justify-items: center;
    align-items: center;
}

.word-tile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    perspective: 500px;
    user-select: none;
}

.word-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    border-radius: 5px;
    color: black;
    font-size: 1.3rem;
    transform: translateZ(-35px);
    user-select: none;
    cursor: pointer;
    backface-visibility: hidden;
}

.word-tile[data-status="untested"]:has(input[type="checkbox"]:disabled) {
    opacity: 0.7;
    cursor: unset;
}

.word-tile[data-status="untested"]:has(input[type="checkbox"]:not(:checked)) {
    background: var(--word-tile-untested-unchecked);
}

.word-tile[data-status="untested"]:has(input[type="checkbox"]:checked) {
    color: var(--white);
    background: var(--word-tile-untested-checked);
}

.word-tile[data-status="incorrect"]:has(input[type="checkbox"]:disabled) {
    opacity: 0.7;
    cursor: unset;
}

.word-tile[data-status="incorrect"]:has(input[type="checkbox"]:not(:checked)) {
    background: var(--word-tile-incorrect-unchecked);
}

.word-tile[data-status="incorrect"]:has(input[type="checkbox"]:checked) {
    color: var(--white);
    background: var(--word-tile-incorrect-checked);
}

.word-tile[data-status="correct"]:has(input[type="checkbox"]:disabled) {
    opacity: 0.7;
    cursor: unset;
}

.word-tile[data-status="correct"]:has(input[type="checkbox"]:not(:checked)) {
    background: var(--word-tile-correct-unchecked);
}

.word-tile[data-status="correct"]:has(input[type="checkbox"]:checked) {
    color: var(--white);
    background: var(--word-tile-correct-checked);
}

.word-tile[data-status="flipped"] {
    transition: transform 0.5s ease-in-out;
    transform: rotate3D(0,1,0, 180deg) translateZ(35px);
    cursor: unset;
    background: var(--word-tile-correct-unchecked);
}

.word-tile input[type="checkbox"] {
  /* Visually hide but keep accessible */
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}
